fastapi
uvicorn
python-multipart
astrapy
langchain
langchain-core
langchain_google_genai
langchain_nvidia_ai_endpoints
google-ai-generativelanguage
google-generativeai
tenacity
assemblyai
yt-dlp
ffmpeg-python
