fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
astrapy==2.0.1
langchain==0.1.0
langchain-core==0.1.18
langchain_google_genai==0.0.9
langchain_nvidia_ai_endpoints==0.0.3
google-ai-generativelanguage==0.4.0
google-generativeai==0.3.2
tenacity==8.2.3
assemblyai==0.22.0
yt-dlp==2023.12.30
ffmpeg-python==0.2.0
